.mainColors {
  background-color: #3f1863;
  color: whitesmoke;
}
.nav-link {
  color: whitesmoke;
}
.nav-link:hover {
  color: #7c8baf;
}
.nav-link:focus {
  color: whitesmoke;
}

.btn-close {
  background-color: whitesmoke;
}

#cartCounter {
  position: absolute;
  top:10px;
  right:10px;
  border-radius: 50%;
  padding: 0.25em 0.4em;
}

#mainNav {
  background-image: linear-gradient( #3f1863, #260d3b);
  box-shadow: 0px 2px 15px grey;
}

.imgCatalogo {
  height: auto;
  width: 300px;
  margin: 5px;
}
.catalogo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.mainColorButton {
  background-color: #3f1863;
  border: none;
}
.mainColorButton:hover {
  background-color: #260d3b;
}
.mainColorButton:focus {
  background-color: #3f1863;
  box-shadow: none;
}

.itemCounter input:focus {
  box-shadow: none;
  border-color: #3f1863;
}