.mainColors {
  background-color: #3f1863;
  color: whitesmoke;
}
.nav-link {
  color: whitesmoke;
}
.nav-link:hover {
  color: #7c8baf;
}
.nav-link:focus {
  color: whitesmoke;
}

.btn-close {
  background-color: whitesmoke;
}
